server {
        listen 80;
        listen [::]:80;
        server_name          tiinamu.ru www.tiinamu.ru;
        root /var/www/tiinamu.ru/html;
        index index.html index.htm index.nginx-debian.html;
}
