<!DOCTYPE html>
<html>
<head>
<title>Welcome to nginx!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
    .center {
        text-align: center
    }
</style>
</head>
<body>
<h1>
    <p class="center">Artem, Welcome to nginx!</p>
    <p class="center">DVPSPDC-3 DevOps-engineer</p>
</h1>
<p>https://tiinamu.ru</p>
<p>If you see this page, that is ok</p>

</body>
</html>
